* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Micro5;
  src: url('assets/Micro5.ttf') format('truetype');
}

@font-face {
  font-family: SpaceGrotesk;
  src: url('assets/SpaceGrotesk.ttf') format('truetype');
}

@font-face {
  font-family: Cairo;
  src: url('assets/Cairo.ttf') format('truetype');
}

:root {
  --ff-text: SpaceGrotesk, sans-serif;
  --piece-size: 50px;
  --shadow-color: rgba(106, 106, 106,1);
}

body {
  background-color: rgb(3, 0, 9);
}

a {
  text-decoration: none;
  color: rgb(242, 242, 242);
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

header::before {
  content: "";
  top: 0px;
  margin-left: -15px;
  width: clamp(320px,100vw,630px);
  height: 57px;
  position: absolute;
  background-color: rgb(3, 0, 9);
}

header {
  margin: 0px auto 0;
  max-width: 600px;
  min-width: 320px;
  padding: 10px 5px 7px;
  box-shadow: 0px 5px 7px -5px var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

svg {
  fill: rgb(242, 242, 242);
  margin-top: 2px;
}

.helpBtn, .statsBtn, .contactBtn, .listBtn {
  width: 34px;
  height: 34px;
  border: 2px solid white;
  border-radius: 40%;
  z-index: 2;
}

.statsBtn {
  margin-left: 10px;
}

.listBtn {
  margin-left: auto;
}

.contactBtn {
  margin-left: 10px;
}

.icon-small {
  font-size: 25px;
}

h1 {
  margin-left: auto;
  z-index: 2;

  color: rgb(242, 242, 242);
  font-family: Micro5, sans-serif;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}

h2 {
  margin: 10px auto 10px;
  width: fit-content;

  color: rgb(242, 242, 242);
  font-family: var(--ff-text);
  font-size: 20px;
}

.hintBtn {
  display: block;
  margin: 0 auto;
  width: fit-content;

  color: rgb(242, 242, 242);
  font-family: var(--ff-text);
  font-size: 15px;
  font-weight: 500;

  border-bottom: 1px solid rgba(242, 242, 242,0.5);
}

#board-container {
  min-width: 320px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board-container p {
  margin-top: 5px;
  font-family: var(--ff-text);
  font-size: 15px;
  font-weight: 500;
  color: rgba(242, 242, 242);
  pointer-events: 'none';
  user-select: none;
}

#board-container a {
  margin-top: 15px;
  font-family: var(--ff-text);
  font-size: 15px;
  font-weight: 500;
  color: rgba(242, 242, 242);
  border-bottom: 1px solid rgba(242, 242, 242,0.5);

  display: none;
}

#align_pieces {
  margin: 10px auto 0;
  max-width: 600px;
  min-width: 320px;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#board {
  position: relative;
}

.hint_highlight {
  width: var(--piece-size);
  height: var(--piece-size);
  position: absolute;
  border-radius: 6px;

  animation: fade 0.3s ease forwards;
}

.grid {
  width: var(--piece-size);
  height: var(--piece-size);
  border: 1px solid rgba(74, 74, 74, 1);
  border-radius: 6px;
  box-shadow: 0px 0px 5px 1px rgb(106, 106, 106);
  position: absolute;
}

.onePiece {
  width: var(--piece-size);
  height: var(--piece-size);
  box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,.35);
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  cursor: pointer;
  border-radius: 8px;
}

.pieceGroup {
  position: relative;
  transition: transform 0.2s ease;
}

.modal-help, .modal-stats, .modal-contact{
  position: absolute;
  inset: 0;
  z-index: 9999;
  background: rgba(0,0,0,0.5);

  overflow: auto;
  display: none;
  animation: topdown 400ms ease 50ms backwards;
}

.open {
  display: block;
}

.help-card, .stats-card, .contact-card {
  margin: 67px auto 0;
  padding: 50px clamp(20px,33.3333vw - 86.6667px,30px) 40px;
  background: rgb(19, 19, 19);
  max-width: 700px;
  min-width: 325px;
  border-radius: 8px;

  color: rgb(242, 242, 242);
  font-family: var(--ff-text);
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

p {
  line-height: 28px;
}

.text {
  text-align: justify;
  text-align-last: center;
  font-size: 18px;
}

.board_example {
  width: 90px;
  margin: 0 auto;
  border-spacing: 0;
}

.board_example td {
  height: 30px;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px rgb(142, 142, 142);
}

.align_pieces {
  display: flex;
  justify-content: center;
  gap: 5px;

  position: relative;
}

.piece1_example, .piece2_example, .piece3_example, .piece4_example {
  width: 60px;
  border-spacing: 0;
}

.piece3_example {
  animation: rotate 5s ease-out forwards infinite;
}

.piece1_example td:first-child, .piece1_example tr:first-child td:nth-child(2) {
  height: 30px;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.35);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: hsl(267, 29%, 48%);
  border-radius: 4px;
  animation: translate1 5s ease-out forwards infinite;
}

.piece2_example tr:nth-child(n+2) td:nth-child(1), .piece2_example tr:nth-child(-n+2) td:nth-child(2) {
  height: 30px;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.35);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: hsl(144, 29%, 48%);
  border-radius: 4px;
  animation: translate2 5s ease-out forwards infinite;
}

.piece3_example td:first-child, .piece3_example tr:nth-child(3) td:nth-child(2) {
  height: 30px;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.35);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: hsl(0, 28%, 48%);
  border-radius: 4px;
  animation: translate3 5s ease-out forwards infinite;
}

.piece4_example {
  margin: 0 auto;
  animation: rotate2 5s 0.5s ease-out forwards infinite;
}

.piece4_example td:first-child, .piece4_example tr:first-child td:nth-child(2) {
  height: 30px;
  box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.35);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: hsl(267, 29%, 48%);
  border-radius: 4px;
}

.hand {
  position: absolute;
  top: 10px;
  z-index: 1;

  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
  animation: click 5s 0.1s ease forwards infinite;
}


.close, .close-stats, .close-contact {
  font-size: 30px;
  color: rgb(242, 242, 242);

  position: absolute;
  right: 10px;
  top: 10px;
}

h3 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(242, 242, 242, 0.3);
}

.Conclusion-text {
  margin-bottom: 10px;
  
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
}

.Conclusion-text a {
  border-bottom: 1px solid rgba(242, 242, 242,0.5)
}

.descripition {
  font-size: 23px;
}

.time {
  font-size: 40px;
}

.hints {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats1 {
  gap: 30px;
}

li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stats1-list {
  flex-direction: column;
  justify-content: center;
}

.counter {
  margin: 0 auto;
  font-size: 40px;
}

.statsTitle{
  width: 90px;
  text-align: center;
  line-height: 25px;
}

h4 {
  margin: 20px auto 0;
  font-size: 20px;
}

.stats2{ 
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;

  max-width: 300px;
  gap: 10px;
}

.stats2-list {
  margin-left: clamp(-15px,50vw - 167px,0px);
  width: 100%;
}

.bar {
  padding-right: 14px;
  width: 40px;
  height: 30px;
  background-color: hsl(0, 0%, 12%);

  font-size: 20px;
  line-height: 30px;
  text-align: right;
}

.bar-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-wrap: nowrap;
}

.less-than{
  margin-left: 10px;
}

#buttons-container {
  margin: 10px auto 0;
  max-width: 600px;
  min-width: 320px;
  padding: 10px 5px;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  gap: 15px;
}

#buttons-container button{
  color: rgb(242, 242, 242);
  font-family:"Cairo", sans-serif;
  font-size: 17px;
  font-weight: 600;
  border-bottom: 1px solid rgba(242, 242, 242,0.5);
}

@media (min-width: 450px) {

  header::before {
    height: 87px;
    background-color: rgb(3, 0, 9);
  }

  header {
    padding: 20px 5px 0px;
    box-shadow: 0px 5px 7px -4px var(--shadow-color);
  }

  button svg {
    height: 30px;
    width: 30px;
  }

  .helpBtn, .statsBtn, .contactBtn, .listBtn {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    margin: 20px auto 10px;
  }

  .text {
    font-size: 20px;
  }

  .help-card, .stats-card, .contact-card {
    margin: 90px auto 0;
  }

}

@keyframes translate1 {
  10% {
    transform: translate(0px,0px);
  }

  19% {
    background-color: hsl(267, 29%, 48%);
  }
  20% {
    transform: translate(50px,-145px);
    background-color: hsl(267, 100%, 50%);
  }

  78% {
    opacity: 1;
  }

  80% {
    transform: translate(50px,-145px);
    background-color: hsl(267, 100%, 50%);
    opacity: 0;
  }
  81% {
    background-color: hsl(267, 48%, 28%);
  }
  81.01% {
    transform: translate(0px,0px);
  }
  83% {
    opacity: 0;
  }
}

@keyframes translate2 {
  20% {
    transform: translate(0px,0px);
  }

  29% {
    background-color: hsl(144, 29%, 48%);
  }
  30% {
    transform: translate(14px,-145px);
    background-color: hsl(144, 100%, 50%);
  }
  78% {
    opacity: 1;
  }
  80% {
    transform: translate(14px,-145px);
    background-color: hsl(144, 100%, 50%);
    opacity: 0;
  }
  81% {
    background-color: hsl(144, 48%, 28%);
  }
  81.01% {
    transform: translate(0px,0px);
  }
  83% {
    opacity: 0;
  }
}

@keyframes translate3 {
  40% {
    transform: translate(0px,0px);
  }

  49% {
    background-color: hsl(0, 28%, 48%);
  }
  50% {
    transform: translate(100px,-65px);
    background-color: hsl(0, 100%, 50%);
  }
  78% {
    opacity: 1;
  }
  80% {
    transform: translate(100px,-65px);
    background-color: hsl(0, 100%, 50%);
    opacity: 0;
  }
  81% {
    background-color: hsl(0, 28%, 48%);
  }
  81.01% {
    transform: translate(0px,0px);
  }
  83% {
    opacity: 0;
  }
}

@keyframes rotate {
  30% {
    transform: rotate(0);
  }

  40% {
    transform: rotate(-90deg);
  }
  81.01% {
    transform: rotate(-90deg);
  }
  81.02% {
    transform: rotate(0);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0);
  }

  5% {
    transform: rotate(90deg);
  }

  25% {
    transform: rotate(90deg);
  }

  30% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  55% {
    transform: rotate(270deg);
  }

  75% {
    transform: rotate(270deg);
  }

  80% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes click {
  0% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  2% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
    
  }

  4% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  6% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
  }

  24% {
    transform: translate(10px,10px);
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
  }

  25% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  27% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
    
  }

  29% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  31% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
  }

  49% {
    transform: translate(20px,20px);
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
  }

  50% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  52% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
    
  }

  54% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  56% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
  }

  74% {
    transform: translate(0px,40px);
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
  }

  75% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  77% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
    
  }

  79% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0));
    width: 24px; height: 24px;
    fill: rgb(185, 185, 185);
  }

  81% {
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
    width: 25px; height: 25px;
    fill: white;
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.23;
  }
}